.App {
  text-align: center;
}

.Template-container {
  width: 97.5vw;
  height: 52px;
  min-height: 20px;
  font-size: 15px;
  padding-inline: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #000000;
}

.App-header {
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 2;
}

.App-footer {
  background-color: rgb(236, 236, 236);
  position: fixed;
  bottom: 0;
}

.Flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Flex-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.Padding-left {
  padding-left: 6vw;
}

.Avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin-left: 16px;
  cursor: pointer;
}

.Main-homepage {
  position: absolute;
  top: 0;
  height: 98vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Input-wrapper {
  height: 32px;
  min-width: 350px;
  max-width: 600px;
  display: flex;
  align-items: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 5px 20px;
}

.Search-input {
  height: 32px;
  width: 100%;
  margin-left: 15px;
  border: none;
  outline: none;
  font-size: 20px;
}

.Search-button {
  margin-top: 30px;
  padding: 13px;
  border-radius: 6px;
  border: none;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

.Search-button:hover {
  color: gray;
}

.Search-button:active {
  background-color: #b6b6b6b6;
  color: gray;
}

.Main-searchpage {
  padding-top: 20px;
  padding-bottom: 70px;
}

.Result {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 20px;
  cursor: pointer;
}

.Title-result {
  color: blue; 
  font-size: 26px; 
  margin: 0;
}

.Search-details {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 15px;
  border: 1px solid rgb(218, 216, 216);
}

.Img-search-details {
  width: 330px;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.Title-search-details {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}


.Modal-overlay {
  z-index: 9999;
  width: 100vw;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-box {
  display: block;
  background: white;
  margin-top: -300px;
}

.Skeleton-bar {
  height: 26px;
  margin-bottom: 12px;
  animation: shine 2s linear infinite; 
  background: linear-gradient(90deg, transparent 0%, darkgray 50%, transparent 100%);
  background-size: 200% 100%; 
}

@keyframes shine {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}